<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhb.dao.AdminRaiseSendDao" >
  <resultMap id="BaseResultMap" type="com.yhb.bean.entity.AdminRaiseSend" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="productId" property="productid" jdbcType="VARCHAR" />
    <result column="raiseName" property="raisename" jdbcType="VARCHAR" />
    <result column="raiseCreateTime" property="raisecreatetime" jdbcType="TIMESTAMP" />
    <result column="raiseOverTime" property="raiseovertime" jdbcType="TIMESTAMP" />
    <result column="raiseMark" property="raisemark" jdbcType="VARCHAR" />
    <result column="raiseSize" property="raisesize" jdbcType="DOUBLE" />
    <result column="raiseCountRate" property="raisecountrate" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, productId, raiseName, raiseCreateTime, raiseOverTime, raiseMark, raiseSize, raiseCountRate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yhb.bean.entity.AdminRaiseSendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from admin_raise_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from admin_raise_send
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin_raise_send
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yhb.bean.entity.AdminRaiseSendExample" >
    delete from admin_raise_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yhb.bean.entity.AdminRaiseSend" >
    insert into admin_raise_send (Id, productId, raiseName, 
      raiseCreateTime, raiseOverTime, raiseMark, 
      raiseSize, raiseCountRate)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=VARCHAR}, #{raisename,jdbcType=VARCHAR}, 
      #{raisecreatetime,jdbcType=TIMESTAMP}, #{raiseovertime,jdbcType=TIMESTAMP}, #{raisemark,jdbcType=VARCHAR}, 
      #{raisesize,jdbcType=DOUBLE}, #{raisecountrate,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.yhb.bean.entity.AdminRaiseSend" >
    insert into admin_raise_send
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="productid != null" >
        productId,
      </if>
      <if test="raisename != null" >
        raiseName,
      </if>
      <if test="raisecreatetime != null" >
        raiseCreateTime,
      </if>
      <if test="raiseovertime != null" >
        raiseOverTime,
      </if>
      <if test="raisemark != null" >
        raiseMark,
      </if>
      <if test="raisesize != null" >
        raiseSize,
      </if>
      <if test="raisecountrate != null" >
        raiseCountRate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="raisename != null" >
        #{raisename,jdbcType=VARCHAR},
      </if>
      <if test="raisecreatetime != null" >
        #{raisecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="raiseovertime != null" >
        #{raiseovertime,jdbcType=TIMESTAMP},
      </if>
      <if test="raisemark != null" >
        #{raisemark,jdbcType=VARCHAR},
      </if>
      <if test="raisesize != null" >
        #{raisesize,jdbcType=DOUBLE},
      </if>
      <if test="raisecountrate != null" >
        #{raisecountrate,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yhb.bean.entity.AdminRaiseSendExample" resultType="java.lang.Integer" >
    select count(*) from admin_raise_send
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update admin_raise_send
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productId = #{record.productid,jdbcType=VARCHAR},
      </if>
      <if test="record.raisename != null" >
        raiseName = #{record.raisename,jdbcType=VARCHAR},
      </if>
      <if test="record.raisecreatetime != null" >
        raiseCreateTime = #{record.raisecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.raiseovertime != null" >
        raiseOverTime = #{record.raiseovertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.raisemark != null" >
        raiseMark = #{record.raisemark,jdbcType=VARCHAR},
      </if>
      <if test="record.raisesize != null" >
        raiseSize = #{record.raisesize,jdbcType=DOUBLE},
      </if>
      <if test="record.raisecountrate != null" >
        raiseCountRate = #{record.raisecountrate,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update admin_raise_send
    set Id = #{record.id,jdbcType=INTEGER},
      productId = #{record.productid,jdbcType=VARCHAR},
      raiseName = #{record.raisename,jdbcType=VARCHAR},
      raiseCreateTime = #{record.raisecreatetime,jdbcType=TIMESTAMP},
      raiseOverTime = #{record.raiseovertime,jdbcType=TIMESTAMP},
      raiseMark = #{record.raisemark,jdbcType=VARCHAR},
      raiseSize = #{record.raisesize,jdbcType=DOUBLE},
      raiseCountRate = #{record.raisecountrate,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhb.bean.entity.AdminRaiseSend" >
    update admin_raise_send
    <set >
      <if test="productid != null" >
        productId = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="raisename != null" >
        raiseName = #{raisename,jdbcType=VARCHAR},
      </if>
      <if test="raisecreatetime != null" >
        raiseCreateTime = #{raisecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="raiseovertime != null" >
        raiseOverTime = #{raiseovertime,jdbcType=TIMESTAMP},
      </if>
      <if test="raisemark != null" >
        raiseMark = #{raisemark,jdbcType=VARCHAR},
      </if>
      <if test="raisesize != null" >
        raiseSize = #{raisesize,jdbcType=DOUBLE},
      </if>
      <if test="raisecountrate != null" >
        raiseCountRate = #{raisecountrate,jdbcType=DECIMAL},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhb.bean.entity.AdminRaiseSend" >
    update admin_raise_send
    set productId = #{productid,jdbcType=VARCHAR},
      raiseName = #{raisename,jdbcType=VARCHAR},
      raiseCreateTime = #{raisecreatetime,jdbcType=TIMESTAMP},
      raiseOverTime = #{raiseovertime,jdbcType=TIMESTAMP},
      raiseMark = #{raisemark,jdbcType=VARCHAR},
      raiseSize = #{raisesize,jdbcType=DOUBLE},
      raiseCountRate = #{raisecountrate,jdbcType=DECIMAL}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>